:root {

  /* Colors */
  --lightblue: #2988BC;
  --darkblue: #2F496E;
  --grey: #ADADAD;
  --black: #000000;
  --white: #ffffff;

  
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
background-color: #ffffff;



}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.background-class{
  width: 100%;
  height: 100vh;

 background-image: radial-gradient(ellipse at center, #ffffff4d 0%,#cccccc48 25%,  #cccccc88 50%, #cccccc9c 75%, #2f496ec5 100%);
}